@import '../../../style/style.scss';

.footer-section {
    padding: 20px 0px;
    background-color: $white-color;
    text-align: center;
    p {
        font-size: $md-text;
        color: $footer-text;
    }
    ul {
        margin: 0px auto;
        padding: 0px;
        list-style-type: none;
        li {
            display: inline-block;
            padding: 0px 10px;
            a {
                img {
                    width:30px;
                }
            }
            &:last-child {
                padding:0px;
            }
        }
    }
    .copyright-text {
        color: $footer-text;
        margin-top: 1rem;
        font-size: $xxs-text;
        a {
            color: $footer-text;
            text-decoration: underline;
        }
    }
}