// Color Variable
$brand-color:#2724af;
$text-color:#556575;
$navbg-color:#edf3f3;
$bg-color:#539be3;
$white-color:#ffffff;
$black-color:#000000;
$active-color:#253642;
$footer-text:#b2b9c1;
// Font Family Variable
$font-family:'Roboto', sans-serif;

// Font Family Variable
$xxlg-text:60px;
$xlg-text:36px; 
$lg-text:24px;
$md-text:18px;
$sm-text:16px;
$xs-text:15px;
$xxs-text:14px;
$xxxs-text:10px;

// Font Weight Variable
$bolder:900; 
$bold:700;
$medium:500;
$regular:400;
